@media screen and (max-width:1400px){
    .ridoy{
        max-width: 400px;
        margin-top: 6vh;
    }

    .nav-link{
        font-size: 1.3em;
    }

    .main-title{
        font-size: 2.4em;
    }

    .main-dis{
        font-size: 1em;
    }
    .main-banner{
        margin: 0 auto;
    }
    header{
        height: 100vh;
    }
}


@media screen and (max-width:570px){

    .navigation{
    width: 80vw;
    margin: 0 auto;
    padding-top: 3%;
}


    .nav-link{
        visibility: hidden;
        display: none;
    }

    .nav-title{
        font-size: 2em;
    }

    .main-content{
        width: 100%;
        flex-direction: column;

    }

    .main-title{
        text-align: center;
        font-size: 2em;
        margin-top: 0.5%;
    }

    .main-greetings, .main-dis{
        text-align: center;
        width: 90vw;
    }
    .main-greetings-container{
        display: flex;
        justify-content: center;
    }
    .main-greetings{
        font-size: 1em;
    }

    header{
        height: 100%;
        overflow: hidden;
    }
    .main-banner{width: 100vw;}

    .main-right, .main-dis-container{
        display: flex;
        justify-content: center;
    }
    .main-dis{
        margin-top: 6vh;
    }
    .hire-me{
        display: none;
        visibility: hidden;

    }
    .ridoy{
        width:300px;
        margin-top: 6vh;
        margin-bottom: 6vh;
    }

    .achievements{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 0%;
    margin-top: 11%;
    }

    .achievement{
    animation: appear ease;
    
    animation-timeline: view();
    animation-range: entry 5% cover 10%;
    }
}


